In [1]:
pip freeze

aiohttp==3.9.5
aiosignal==1.3.1
annotated-types==0.6.0
anyio==4.3.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.2.0
Babel==2.14.0
beautifulsoup4==4.12.3
bleach==6.1.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.6
comm==0.2.2
contourpy==1.2.1
cuda-python==12.4.0
cycler==0.12.1
dataclasses-json==0.6.4
debugpy==1.8.1
decorator==5.1.1
defusedxml==0.7.1
distro==1.9.0
et-xmlfile==1.1.0
exceptiongroup==1.2.1
executing==2.0.1
fastjsonschema==2.19.1
filelock==3.13.4
fonttools==4.51.0
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.3.1
greenlet==3.0.3
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.22.2
idna==3.7
importlib_metadata==7.1.0
importlib_resources==6.4.0
intel-openmp==2021.4.0
ipykernel==6.29.4
ipython==8.18.1
ipywidgets==8.1.2
isoduration==20.11.0
jedi==0.19.1
Jinja2==3.1.3
json5==0.9.25
jsonlines==4.0.0
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.1
jupyter_core==5.7.2
jupyter_server==2.14.0
jupyter_server_terminals==0.5.3
jupyterlab==4.1.8
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.1
jupyterlab_widgets==3.0.10
kiwisolver==1.4.5
langchain==0.1.16
langchain-community==0.0.34
langchain-core==0.1.46
langchain-text-splitters==0.0.1
langsmith==0.1.51
MarkupSafe==2.1.5
marshmallow==3.21.1
matplotlib==3.8.4
matplotlib-inline==0.1.7
mistune==3.0.2
mkl==2021.4.0
mpmath==1.3.0
multidict==6.0.5
mypy-extensions==1.0.0
nbclient==0.10.0
nbconvert==7.16.3
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2.1
notebook==7.1.3
notebook_shim==0.2.4
numpy==1.26.4
openai==1.23.6
openpyxl==3.1.2
orjson==3.10.1
overrides==7.7.0
packaging==23.2
pandas==2.2.2
pandocfilters==1.5.1
parso==0.8.4
pillow==10.3.0
platformdirs==4.2.1
prometheus_client==0.20.0
prompt-toolkit==3.0.43
psutil==5.9.8
pure-eval==0.2.2
pycparser==2.22
pydantic==2.7.1
pydantic_core==2.18.2
Pygments==2.17.2
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-json-logger==2.0.7
pytz==2024.1
pywin32==306
pywinpty==2.0.13
PyYAML==6.0.1
pyzmq==26.0.2
qtconsole==5.5.1
QtPy==2.4.1
referencing==0.35.0
regex==2024.4.16
requests==2.31.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.18.0
safetensors==0.4.3
Send2Trash==1.8.3
six==1.16.0
sniffio==1.3.1
soupsieve==2.5
SQLAlchemy==2.0.29
stack-data==0.6.3
sympy==1.12
tbb==2021.11.0
tenacity==8.2.3
terminado==0.18.1
tinycss2==1.3.0
tokenizers==0.19.1
tomli==2.0.1
torch==2.3.0+cu121
torchaudio==2.3.0+cu121
torchvision==0.18.0+cu121
tornado==6.4
tqdm==4.66.2
traitlets==5.14.3
transformers==4.40.1
types-python-dateutil==2.9.0.20240316
typing-inspect==0.9.0
typing_extensions==4.11.0
tzdata==2024.1
uri-template==1.3.0
urllib3==2.2.1
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.8.0
widgetsnbextension==4.0.10
yarl==1.9.4
zipp==3.18.1
Note: you may need to restart the kernel to use updated packages.

In [12]:
from sklearn import preprocessing
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
print(torch.cuda.device_count())

1

In [2]:
discussion_data = pd.read_pickle('../data/discussion_data.pkl')

In [6]:
discussion_data

,Pseudonym,Message,R2DiscussionType,R2Uptake,R2Pivot
0,pim-01,Hello.,Social,NaN,NaN
1,pim-01,My assumption is,Seminar,NaN,Social/Procedure/UX to Seminar
2,pim-01,that the emphasis on barbarism implies that sh...,Seminar,NaN,NaN
3,pim-03,I agree with Cassandra's noticing,Seminar,Affirm,NaN
4,pim-03,of the author's word choice of barbarism.,Seminar,Affirm,NaN
...,...,...,...,...,...
606,Stephanie,P2: The king may send his daughter to the aren...,Seminar,NaN,NaN
607,John,I have no guess as to which is behind the door...,Seminar,NaN,NaN
608,John,Part 2: The daughter is “the apple of the king...,Seminar,NaN,NaN
609,Christopher,"Part 1: Honestly hard to say, though I'd like ...",Seminar,NaN,NaN
610,Christopher,Part 2: The king most certainly spares his dau...,Seminar,NaN,NaN

In [3]:
discussion_data['R2DiscussionType'].unique()

array(['Social', 'Seminar', 'Procedure', 'Other', 'Deliberation', 'UX',
       'Imaginative', 'Seminar, Deliberation', 'Social, Deliberation',
       'Deliberation, Seminar', 'Social, Procedure'], dtype=object)

In [11]:
discussion_data['R2DiscussionType'].describe()

count         611
unique         11
top       Seminar
freq          333
Name: R2DiscussionType, dtype: object

In [12]:
discussion_data.describe()

,Pseudonym,Message,R2DiscussionType,R2Uptake,R2Pivot
count,611,611,611,368,47
unique,67,606,11,5,13
top,pim-11,...,Seminar,Affirm,Seminar to Social/Procedure/UX
freq,54,3,333,140,10

In [14]:
discussion_data['R2DiscussionType'].value_counts()

R2DiscussionType
Seminar                  333
Deliberation              85
Social                    69
UX                        47
Procedure                 46
Imaginative               20
Other                      6
Seminar, Deliberation      2
Social, Deliberation       1
Deliberation, Seminar      1
Social, Procedure          1
Name: count, dtype: int64

In [4]:
discussion_data['R2DiscussionType'] = discussion_data['R2DiscussionType'].apply(lambda x: x.replace('Social, Deliberation','Social'))
discussion_data['R2DiscussionType'] = discussion_data['R2DiscussionType'].apply(lambda x: x.replace('Social, Procedure','Social'))
discussion_data['R2DiscussionType'] = discussion_data['R2DiscussionType'].apply(lambda x: x.replace('Seminar, Deliberation','Seminar'))
discussion_data['R2DiscussionType'] = discussion_data['R2DiscussionType'].apply(lambda x: x.replace('Deliberation, Seminar','Deliberation'))

In [5]:
discussion_data['R2DiscussionType'].value_counts()

R2DiscussionType
Seminar         335
Deliberation     86
Social           71
UX               47
Procedure        46
Imaginative      20
Other             6
Name: count, dtype: int64

In [7]:
### test train val split

data = pd.DataFrame()

data['text'] = discussion_data['Message']
data['label'] = discussion_data['R2DiscussionType']

In [10]:
label_encoder = preprocessing.LabelEncoder()
data['label'] = label_encoder.fit_transform(data['label'])

data.head()

                                                text  label
0                                            Hello.       5
1                                   My assumption is      4
2  that the emphasis on barbarism implies that sh...      4
3                 I agree with Cassandra's noticing       4
4          of the author's word choice of barbarism.      4

In [13]:
X = (np.array(data['text']))
y = (np.array(data['label']))

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=13)
X_val, X_test, y_val, y_test = train_test_split(X_test, y_test, test_size=0.5, random_state=42)
print("Train dataset shape: {0}, \nTest dataset shape: {1} \nValidation dataset shape: {2}".format(X_train.shape, X_test.shape, X_val.shape))

Train dataset shape: (427,),
Test dataset shape: (92,)
Validation dataset shape: (92,)

In [17]:
from collections import Counter

In [18]:
Counter(y_test)

Counter({4: 54, 0: 12, 5: 12, 6: 5, 3: 4, 1: 4, 2: 1})

In [19]:
Counter(y_val)

Counter({4: 54, 0: 10, 5: 9, 6: 9, 3: 6, 1: 4})

In [20]:
Counter(y_train)

Counter({4: 227, 0: 64, 5: 50, 3: 36, 6: 33, 1: 12, 2: 5})

In [21]:
train_df = pd.DataFrame()
test_df = pd.DataFrame()
val_df = pd.DataFrame()

In [22]:
train_df['text'] = X_train
train_df['label'] = y_train

test_df['text'] = X_test
test_df['label'] = y_test

val_df['text'] = X_val
val_df['label'] = y_val

In [23]:
train_df.to_pickle('train_dataset')

In [24]:
test_df.to_pickle('test_dataset')

In [25]:
val_df.to_pickle('val_dataset')